﻿@model KingBudget.Models.Invite

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "Invites", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <div class="col-md-12">
            <div class="panel box-v4">
                <div class="panel-heading bg-white border-none">
                    <h4><span class="icon icon-list"></span> Invite</h4>
                </div>
                <div class="panel-body padding-0">
                    <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Secret)
                            <input type="hidden" name="hId" value="@ViewBag.HouseHoldId" />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:50%" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                            <div>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-outline">Back</a>

                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>
}

