﻿@model KingBudget.Models.Invite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseHoldId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseHoldId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secret)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back", "Index")
</p>
