﻿@using KingBudget.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<body id="mimin" class="dashboard form-signin-wrapper">
    <div class="container">
        <br />
        <section class="form-signin">
            <div class="panel periodic-login">
                <div class="panel-body text-center">
                    <h1 style="font-size:72px">Login</h1>
                    <img src="~/Personal_Logo.png" />

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group form-animate-text" style="margin-top:40px !important;">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group form-animate-text" style="margin-top:40px !important;">
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-1 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Register", "Register")
                                    </p>
                                    //Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>
                    }
                </div>
            </div>
        </section>
    </div>
    <!-- end: Content -->
    <!-- start: Javascript -->
    <script src="~/Template/asset/js/jquery.min.js"></script>
    <script src="~/Template/asset/js/jquery.ui.min.js"></script>
    <script src="~/Template/asset/js/bootstrap.min.js"></script>
    <script src="~/Template/asset/js/plugins/moment.min.js"></script>
    <script src="~/Template/asset/js/plugins/icheck.min.js"></script>
    <!-- custom -->
    <script src="~/Template/asset/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_flat-aero',
                radioClass: 'iradio_flat-aero'
            });
        });
    </script>
    <!-- end: Javascript -->
</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}