﻿@model KingBudget.Models.TransViewModel
@{
    ViewBag.Title = "Details";
    double actual = 0.00;
}
<hr />
<div class="col-md-12">
    <div class="panel box-v4">
        <div class="panel-heading bg-white border-none">
            <h4><span class="icon icon-list"></span> Items</h4>
        </div>
        <div class="panel-body padding-0">
            <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                <div>
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>@Model.householdz.Name</dd>
                        <dt>Category</dt>
                        <dd>@Model.householdItemz.Category.Name</dd>
                        <dt>Amount</dt>
                        <dd>@Model.householdItemz.Amount</dd>
                        <dt>Actual Transaction</dt>
                        <dd>
                            @foreach (var key in Model.householdTransaction)
                            {
                                actual += key.Amount;
                            }
                            @actual
                        </dd>
                    </dl>
                    <a href="@Url.Action("Index", "Items")" class="btn btn-default">Back</a>
                    <a href="@Url.Action("Edit", "Items", new { id = Model.householdItemz.Id })" class="btn btn-default">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading text-center"><h3>Actual Transaction</h3></div>
            <div class="panel-body">
                <div class="responsive-table pagination-sm">
                    <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Payee</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Submitted By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var key in Model.householdTransaction)
                            {

                                <tr>
                                    <td>@key.Payee</td>
                                    <td>@key.Category.Name</td>
                                    <td>@key.Description</td>
                                    <td>@key.Created.ToString("MM/dd/yyyy")</td>
                                    <td>@key.Amount</td>
                                    <td>@key.EnteredBy.DisplayName</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>



