﻿@model IEnumerable<KingBudget.Models.Item>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    double budgetAmount = 0.00;
    string userId = User.Identity.GetUserId();
}
    <div class="row">
        <div class="col-sm-12">
            @foreach (var item in Model)
            {
                foreach (var user in item.HouseHold.Users)
                {
                    if (user.Id == userId)
                    {
                        budgetAmount += item.Amount;
                    }
                }
            }

            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-6 col-sm-12">
                        <h1>Budget Items</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-3 col-md-6">
                <div class="panel box-v1 dashboard-col-tab">
                    <div class="panel-body text-center">
                        <h2 class="animated fadeInLeft">Total Budget</h2>
                        <h2 class="animated fadeInLeft text-center" style="color:darkgreen">
                        @budgetAmount.ToString("C")</h2>
                        <hr />
                    </div>
                </div>
            </div>

            <div class="col-md-12 top-20 padding-0">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading"><h3>Data Tables</h3></div>
                        <div class="panel-body">
                            <div class="responsive-table pagination-sm">
                                <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Amount</th>
                                            <th>Functions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            foreach (var user in item.HouseHold.Users)
                                            {
                                                if (user.Id == userId)
                                                {
                                                    <tr>
                                                        <td>@item.HouseHold.Name</td>
                                                        <td>@item.Category.Name</td>
                                                        <td>@item.Amount.ToString("C")</td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Edit", "Items", new { id = item.Id }, "") <br />
                                                            @Html.ActionLink("Details", "Details", "Items", new { id = item.Id }, "") <br />
                                                            @Html.ActionLink("Delete", "Delete", "Items", new { id = item.Id }, "")
                                                        </td>
                                                    </tr>

                                                }
                                                
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>