﻿@model KingBudget.Models.HouseHold

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Updated)
    @Html.HiddenFor(model => model.Balance)
    @Html.HiddenFor(model => model.IsDeleted)

    <div>
        <hr />
        <div class="col-md-12">
            <div class="panel box-v4">
                <div class="panel-heading bg-white border-none">
                    <h4><span class="icon icon-list"></span> HouseHold</h4>
                </div>
                <div class="panel-body padding-0">
                    <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "Width:50%" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                            <div>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-outline">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

