﻿@model KingBudget.Models.HouseHold

@{
    ViewBag.Title = "Delete";
}


<div>
    <hr />
    <div class="col-md-12">
        <div class="panel box-v4">
            <div class="panel-heading bg-white border-none">
                <h4><span class="icon icon-list"></span> Household</h4>
            </div>
            <div class="panel-body padding-0">
                <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                    <div>
                        <h3>Are you sure you want to delete this?</h3>
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    HouseHold Name
                                </dt>
                                <dd>
                                    @Model.Name
                                </dd>
                                <dt>
                                    Current Balance
                                </dt>
                                <dd>
                                    @foreach (var item in Model.BankAccounts)
                                    {
                                        @item.Balance
                                    }
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Created)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Created)
                                </dd>
                            </dl>



                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                    <a href="@Url.Action("Index", "Home")" class="btn btn-default">Back</a>
                                </div>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        