﻿@* HouseHolds Index *@

@model IEnumerable<KingBudget.Models.HouseHold>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Budgeter";
    bool flag = false;
    string userId = User.Identity.GetUserId();
}

<br />
<br />
<br />
<br />
<div class="col-md-offset-4 col-md-4 text-center">
    <a href="@Url.Action("Create","HouseHolds")" class="text-center btn btn-success"><i class="fa fa-plus"></i> Create A New House <i class="fa fa-plus"></i></a>
</div>
<br />
<br />
<div class="col-md-offset-4 col-md-4">
    <div class="panel box-v1  dashboard-col-tab">
        <div class="panel-heading bg-white border-none">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0 animated fadeInLeft">
                <h4 class="text-left">Household(s)</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <h4>
                    <span class="icon-home icons icon text-right"></span>
                </h4>
            </div>
        </div>
        <div class="panel-body text-center">
            @foreach (var name in Model)
            {
                foreach (var user in name.Users)
                {
                    if (user.Id == userId)
                    {
                        flag = true;
                    }
                }
                if (flag)
                {
                <h2><a href="@Url.Action("Details", "HouseHolds", new { id = name.Id })">@name.Name</a></h2>
                <hr />
                }
            }
        </div>
    </div>
</div>