﻿@* Home Index *@
@using Microsoft.AspNet.Identity;
@model IEnumerable<KingBudget.Models.HouseHold>
@{
    ViewBag.Title = "Budgeter";
    string userId = User.Identity.GetUserId();
    bool flag = false;
}
<!-- start: content -->
@if (Request.IsAuthenticated)
{
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-6 col-sm-12">
                <h1 class="animated fadeInLeft">Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding:20px">
        <div class="col-md-12 padding-0">
            @* Data Tables *@
            <div class="col-md-12 top-20 padding-0">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>Household <a href="@Url.Action("Create", "HouseHolds")" class="btn btn-3d"><i class="fa fa-plus"></i> <text>&nbsp;</text>Create Household</a></h3>
                        </div>
                        <div class="panel-body">
                            <div class="responsive-table pagination-sm">
                                <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Household</th>
                                            <th>HouseHold Memebers</th>
                                            <th>Functions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            foreach (var user in item.Users)
                                            {
                                                if (user.Id == userId)
                                                {
                                                    flag = true;
                                                }
                                            }
                                            if (flag)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                    <td>
                                                        @foreach (var user in item.Users)
                                                        {
                                                            @user.DisplayName <br />
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.CreatorId == userId || User.IsInRole("Admin"))
                                                        {
                                                            @Html.ActionLink("Invite Others", "Create", "Invites", new { id = item.Id }, "")  <br />

                                                        }
                                                        @*@foreach (var budget in item.Budgets)
                                                            {
                                                                @Html.ActionLink("Create Budget", "Create", "Items", new { id = budget.Id }, "")<br />
                                                                @Html.ActionLink("View Budgets", "Index", "Items", new { id = budget.Id }, "") <br />
                                                            }*@
                                                        @Html.ActionLink("Make Budget Item", "Create", "Items", new { id = item.Id }, "") <br>
                                                        @Html.ActionLink("Make BankAccount", "Create", "BankAccounts", new { id = item.Id }, "") <br>
                                                        @if (item.CreatorId == userId || User.IsInRole("Admin"))
                                                        {
                                                            @Html.ActionLink("Edit Household", "Edit", "HouseHolds", new { id = item.Id }, "") <br />
                                                            @Html.ActionLink("Delete Household", "Delete", "HouseHolds", new { id = item.Id }, "") <br />
                                                        }
                                                        @Html.ActionLink("Household Details", "Details", "HouseHolds", new { id = item.Id }, "") <br />
                                                        @Html.ActionLink("Leave", "LeaveHousehold","HouseHolds", new { id = item.Id }, "") <br />
                                                    </td>
                                                </tr>
                                                flag = false;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    //Bank Accounts
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Bank Account(s)</h3>
                </div>
                <div class="panel-body">
                    <div class="responsive-table pagination-sm">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>HouseHold Name</th>
                                    <th>Account Name</th>
                                    <th>Balance</th>
                                    <th>Functions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    foreach (var user in item.Users)
                                    {
                                        if (user.Id == userId)
                                        {
                                            flag = true;
                                        }
                                    }
                                    if (flag)
                                    {
                                        foreach (var account in item.BankAccounts)
                                        {
                                                                                <tr>
                                            <td>@item.Name</td>
                                            <td>@account.Name</td>
                                            @if (account.Balance > 0)
                                            {
                                                <td style="color:green">@account.Balance.ToString("C")</td>
                                            }
                                            else if (account.Balance < 0)
                                            {
                                                <td style="color:red">@account.Balance.ToString("C")</td>
                                            }
                                            <td>
                                                @Html.ActionLink("Transaction", "Create", "Transactions", new { id = account.Id }, "") <br>
                                                @Html.ActionLink("Edit", "Edit", "BankAccounts", new { id = account.Id }, "") <br>
                                                @Html.ActionLink("Details", "Details", "BankAccounts", new { id = account.Id }, "") <br>
                                                @Html.ActionLink("Delete", "Delete", "BankAccounts", new { id = account.Id }, "")
                                            </td>
                                        </tr>
                                        }
                                        flag = false;

                                    }
                                }
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    //Transactions Expense
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Transactions Expense</h3>
                </div>
                <div class="panel-body">
                    <div class="responsive-table pagination-sm">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Posted Date</th>
                                    <th>HouseHold Account</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Functions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    foreach (var user in item.Users)
                                    {
                                        if (user.Id == userId)
                                        {
                                            flag = true;
                                        }
                                    }
                                    if (flag)
                                    {
                                        foreach (var account in item.BankAccounts)
                                        {
                                            foreach (var transaction in account.Transactions.Where(t => t.Type.Name == "Expense"))
                                            {
                                            <tr>
                                                <td>@transaction.Created.ToString("MM/dd/yyyy")</td>
                                                <td>@transaction.BankAccount.Name</td>
                                                <td>@Html.Raw(transaction.Description)</td>
                                                <td>@Html.Raw(transaction.Category.Name)</td>
                                                @if (transaction.TypeId == 2)
                                                {
                                                    <td style="color:red">(-) @Html.Raw(transaction.Amount.ToString("C"))</td>
                                                    <td>----</td>
                                                }
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", "Transactions", new { id = transaction.Id }, "") <br>
                                                    @Html.ActionLink("Details", "Details", "Transactions", new { id = transaction.Id }, "") <br>
                                                    @Html.ActionLink("Delete", "Delete", "Transactions", new { id = transaction.Id }, "")
                                                </td>
                                            </tr>
                                            }
                                        }
                                        flag = false;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    //Transaction Income
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Transactions Income</h3>
                </div>
                <div class="panel-body">
                    <div class="responsive-table pagination-sm">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Posted Date</th>
                                    <th>HouseHold Account</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Functions</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    foreach (var user in item.Users)
                                    {
                                        if (user.Id == userId)
                                        {
                                            flag = true;
                                        }
                                    }
                                    if (flag)
                                    {
                                        foreach (var account in item.BankAccounts)
                                        {
                                            foreach (var transaction in account.Transactions.Where(t => t.Type.Name == "Income"))
                                            {
                                            <tr>
                                                <td>@transaction.Created.ToString("MM/dd/yyyy")</td>
                                                <td>@transaction.BankAccount.Name</td>
                                                <td>@Html.Raw(transaction.Description)</td>
                                                <td>@Html.Raw(transaction.Category.Name)</td>
                                                @if (transaction.TypeId == 1)
                                                {
                                                    <td>----</td>
                                                    <td style="color:green">(+) @Html.Raw(transaction.Amount.ToString("C"))</td>
                                                }
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", "Transactions", new { id = transaction.Id }, "") <br>
                                                    @Html.ActionLink("Details", "Details", "Transactions", new { id = transaction.Id }, "") <br>
                                                    @Html.ActionLink("Delete", "Delete", "Transactions", new { id = transaction.Id }, "")
                                                </td>
                                            </tr>
                                            }
                                        }
                                        flag = false;

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
else
{
    <hr />
    <h1>Please Log in</h1>
}