﻿@model IEnumerable<KingBudget.Models.HouseHold>
@{
    ViewBag.Title = "Budgeter";
    double budgetAmount = 0.00;
}
@* Adding Template *@

@* HouseHold *@
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">House Hold</h1>
            <a href="@Url.Action("Create", "HouseHolds")" class="text-center">Create House</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>HouseHold Members <text>&nbsp;</text></th>
                        <th>Functions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @foreach (var name in item.Users)
                                {
                                    if (name.DisplayName != null)
                                    {
                                        @name.DisplayName
                                    }
                                    else
                                    {
                                        @name.Email
                                    }
                                    <br>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Budget Item", "Create", "Items", new { id = item.Id }, "") <br>
                                @Html.ActionLink("BankAccount", "Create", "BankAccounts", new { id = item.Id }, "") <br>
                                @Html.ActionLink("Invite", "Create", "Invites", new { id = item.Id }, "") <br>
                                @Html.ActionLink("Edit", "Edit", "HouseHolds", new { id = item.Id }, "") <br>
                                @Html.ActionLink("Details", "Details", "HouseHolds", new { id = item.Id }, "") <br>
                                @Html.ActionLink("Delete", "Delete", "HouseHolds", new { id = item.Id }, "")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>
@* Accounts *@
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Accounts</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>HouseHold Name</th>
                        <th>Account Name</th>
                        <th>Balance</th>
                        <th>Functions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        foreach (var account in item.BankAccounts)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@account.Name</td>
                                @if (account.Balance > 0)
                                {
                                    <td style="color:green">@account.Balance.ToString("C")</td>
                                }
                                else if (account.Balance < 0)
                                {
                                    <td style="color:red">@account.Balance.ToString("C")</td>
                                }
                                <td>
                                    @Html.ActionLink("Transaction", "Create", "Transactions", new { id = account.Id }, "") <br>
                                    @Html.ActionLink("Edit", "Edit", "BankAccounts", new { id = item.Id }, "") <br>
                                    @Html.ActionLink("Details", "Details", "BankAccounts", new { id = item.Id }, "") <br>
                                    @Html.ActionLink("Delete", "Delete", "BankAccounts", new { id = item.Id }, "")
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
@* Transactions *@
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Transactions Expense</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Posted Date</th>
                        @*<th>Transaction Date</th>*@
                        <th>HouseHold Account</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Functions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        foreach (var account in item.BankAccounts)
                        {
                            foreach (var transaction in account.Transactions.Where(t => t.Type.Name == "Expense"))
                            {
                                <tr>
                                    <td>@transaction.Created.ToString("MM/dd/yyyy")</td>
                                    @*<td>@transaction.Date.ToString("MM/dd/yyyy")</td>*@
                                    <td>@transaction.BankAccount.Name</td>
                                    <td>@Html.Raw(transaction.Description)</td>
                                    <td>@Html.Raw(transaction.Category.Name)</td>
                                    @if (transaction.TypeId != 21)
                                    {
                                        <td style="color:red">(-) @Html.Raw(transaction.Amount.ToString("C"))</td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td style="color:green">(+) @Html.Raw(transaction.Amount.ToString("C"))</td>
                                    }
                                    <td>
                                        @*@Html.ActionLink("BankAccount", "Create", "BankAccounts", new { id = item.Id }, "") <br>
                                            @Html.ActionLink("Invite", "Create", "Invites", new { id = item.Id }, "") <br>*@
                                        @Html.ActionLink("Edit", "Edit", "Transactions", new { id = transaction.Id }, "") <br>
                                        @Html.ActionLink("Details", "Details", "Transactions", new { id = transaction.Id }, "") <br>
                                        @Html.ActionLink("Delete", "Delete", "Transactions", new { id = transaction.Id }, "")
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <h1 class="text-center">Transactions Income</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Posted Date</th>
                        @*<th>Transaction Date</th>*@
                        <th>HouseHold Account</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Functions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        foreach (var account in item.BankAccounts)
                        {
                            foreach (var transaction in account.Transactions.Where(t => t.Type.Name == "Income"))
                            {
                                <tr>
                                    <td>@transaction.Created.ToString("MM/dd/yyyy")</td>
                                    @*<td>@transaction.Date.ToString("MM/dd/yyyy")</td>*@
                                    <td>@transaction.BankAccount.Name</td>
                                    <td>@Html.Raw(transaction.Description)</td>
                                    <td>@Html.Raw(transaction.Category.Name)</td>
                                    @if (transaction.TypeId != 1)
                                    {
                                        <td style="color:red">(-) @Html.Raw(transaction.Amount.ToString("C"))</td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td style="color:green">(+) @Html.Raw(transaction.Amount.ToString("C"))</td>
                                    }
                                    <td>
                                        @*@Html.ActionLink("BankAccount", "Create", "BankAccounts", new { id = item.Id }, "") <br>
                                            @Html.ActionLink("Invite", "Create", "Invites", new { id = item.Id }, "") <br>*@
                                        @Html.ActionLink("Edit", "Edit", "Transactions", new { id = transaction.Id }, "") <br>
                                        @Html.ActionLink("Details", "Details", "Transactions", new { id = transaction.Id }, "") <br>
                                        @Html.ActionLink("Delete", "Delete", "Transactions", new { id = transaction.Id }, "")
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>
@* Budget *@
<h1 class="text-center">Budget</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @foreach (var item in Model)
            {
                foreach (var key in item.Items)
                {
                    budgetAmount += key.Amount;
                }
            }
            <h1 class="text-center" style="color:Green">@budgetAmount.ToString("C")</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Functions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        foreach (var key in item.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@key.Category.Name</td>
                                <td>@key.Amount.ToString("C")</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Items", new { id = key.Id }, "") <br />
                                    @Html.ActionLink("Details", "Details", "Items", new { id = key.Id }, "") <br />
                                    @Html.ActionLink("Delete", "Delete", "Items", new { id = key.Id }, "")
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>