﻿@model KingBudget.Models.Transaction

@{
    ViewBag.Title = "Details";
}
<div>
    <hr />
    <div class="col-md-12">
        <div class="panel box-v4">
            <div class="panel-heading bg-white border-none">
                <h4><span class="icon icon-list"></span> Transaction</h4>
            </div>
            <div class="panel-body padding-0">
                <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.BankAccount.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BankAccount.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Payee)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Payee)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TypeId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Type.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EnteredById)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EnteredBy.DisplayName)
                        </dd>
                        </dl>
                    <a href="@Url.Action("Index", "Transactions")" class="btn btn-default">Back</a>
                    <a href="@Url.Action("Edit", "Transactions", new { id = Model.Id})" class="btn btn-default">Edit</a>
                </div>
            </div>
        </div>
    </div>

</div>

