﻿@model IEnumerable<KingBudget.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

    <div class="panel">
        <div class="panel-body">
            <div class="col-md-6 col-sm-12">
                <h1 class="animated fadeInLeft">Transactions</h1>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading"><h3>Data Tables</h3></div>
                <div class="panel-body">
                    <div class="responsive-table pagination-sm">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Bank Account</th>
                                    <th>Description</th>
                                    <th>Payee </th>
                                    <th>Amount </th>
                                    <th>Type </th>
                                    <th>Created by</th>
                                    <th>Functions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BankAccount.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Payee)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnteredBy.DisplayName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
